<div class="comprow">   
    <div class="ls_title med28">
        @@title1
    </div>
    <div class="ls">
        <div class="ls__st">
            <div class="ls__st1 regul20">
                @@subtitle1
            </div>
            <div class="ls__st1 regul20">
                @@subtitle2
            </div>
            <div class="ls__st1 regul20">
                @@subtitle3
            </div>
            <div class="ls__st1 regul20">
                @@subtitle4
            </div>
            <div class="ls__st1 regul20">
                @@subtitle5
            </div>
            <div class="ls__st1 regul20">
                @@subtitle6
            </div>
        </div>
        <div class="ls__st ">
            <div class="ls__st1 regul20">
                @@subtitle7
            </div>
            <div class="ls__st1 regul20">
                @@subtitle8
            </div>
            <div class="ls__st1 regul20">
                @@subtitle9
            </div>
            <div class="ls__st1 regul20">
                @@subtitle10
            </div>
            <div class="ls__st1 regul20">
                @@subtitle11
            </div>
            <div class="ls__st1 regul20">
                @@subtitle12
            </div>
        </div>
        <div class="ls__st">
            <div class="ls__st1 regul20">
                @@subtitle13
            </div>
            <div class="ls__st1 regul20">
                @@subtitle14
            </div>
            <div class="ls__st1 regul20">
                @@subtitle15
            </div>
            <div class="ls__st1 regul20">
                @@subtitle16
            </div>
            <div class="ls__st1 regul20">
                @@subtitle17
            </div>
            <div class="ls__st1 regul20">
                @@subtitle18
            </div>
        </div>
    </div>
    <div class="ls_title med28">
        @@title2
    </div>
    <div class="ls">
        <div class="ls__st">
            <div class="ls__st1 regul20">
                @@subtitle19
            </div>
            <div class="ls__st1 regul20">
                @@subtitle20
            </div>
            <div class="ls__st1 regul20">
                @@subtitle21
            </div>
            <div class="ls__st1 regul20">
                @@subtitle22
            </div>
            <div class="ls__st1 regul20">
                @@subtitle23
            </div>
            <div class="ls__st1 regul20">
                @@subtitle24
            </div>
        </div>
        <div class="ls__st">
            <div class="ls__st1 regul20">
                @@subtitle25
            </div>
            <div class="ls__st1 regul20">
                @@subtitle26
            </div>
            <div class="ls__st1 regul20">
                @@subtitle27
            </div>
            <div class="ls__st1 regul20">
                @@subtitle28
            </div>
            <div class="ls__st1 regul20">
                @@subtitle29
            </div>
            <div class="ls__st1 regul20">
                @@subtitle30
            </div>
        </div>
        <div class="ls__st">
            <div class="ls__st1 regul20">
                @@subtitle31
            </div>
            <div class="ls__st1 regul20">
                @@subtitle32
            </div>
            <div class="ls__st1 regul20">
                @@subtitle33
            </div>
            <div class="ls__st1 regul20">
                @@subtitle34
            </div>
            <div class="ls__st1 regul20">
                @@subtitle35
            </div>
            <div class="ls__st1 regul20">
                @@subtitle36
            </div>
        </div>
    </div>
    <div class="ls_title med28">
        @@title3
    </div>
    <div class="ls">
        <div class="ls__st">
            <div class="ls__st1 regul20">
                @@subtitle37
            </div>
            <div class="ls__st1 regul20">
                @@subtitle38
            </div>
            <div class="ls__st1 regul20">
                @@subtitle39
            </div>
            <div class="ls__st1 regul20">
                @@subtitle40
            </div>
            <div class="ls__st1 regul20">
                @@subtitle41
            </div>
            <div class="ls__st1 regul20">
                @@subtitle42
            </div>
        </div>
        <div class="ls__st">
            <div class="ls__st1 regul20">
                @@subtitle43
            </div>
            <div class="ls__st1 regul20">
                @@subtitle44
            </div>
            <div class="ls__st1 regul20">
                @@subtitle45
            </div>
            <div class="ls__st1 regul20">
                @@subtitle46
            </div>
            <div class="ls__st1 regul20">
                @@subtitle47
            </div>
            <div class="ls__st1 regul20">
                @@subtitle48
            </div>
        </div>
        <div class="ls__st">
            <div class="ls__st1 regul20">
                @@subtitle49
            </div>
            <div class="ls__st1 regul20">
                @@subtitle50
            </div>
            <div class="ls__st1 regul20">
                @@subtitle51
            </div>
            <div class="ls__st1 regul20">
                @@subtitle52
            </div>
            <div class="ls__st1 regul20">
                @@subtitle53
            </div>
            <div class="ls__st1 regul20">
                @@subtitle54
            </div>
        </div>
    </div>
    <div class="ls_title med28">
        @@title4
    </div>
    <div class="ls">
        <div class="ls__st">
            <div class="ls__st12 regul20">
                @@subtitle55
            </div>
            <div class="ls__st123 regul20">
                @@subtitle56
            </div>
            <div class="ls__st124 regul20">
                @@subtitle57
            </div>
            <div class="ls__st125 regul20">
                @@subtitle58
            </div>
            <div class="ls__st126 regul20">
                @@subtitle59
            </div>
            <div class="ls__st127 regul20">
                @@subtitle60
            </div>
        </div>
        <div class="ls__st">
            <div class="ls__st1 regul20">
                @@subtitle61
            </div>
            <div class="ls__st1 regul20">
                @@subtitle62
            </div>
            <div class="ls__st1 regul20">
                @@subtitle63
            </div>
            <div class="ls__st1 regul20">
                @@subtitle64
            </div>
            <div class="ls__st1 regul20">
                @@subtitle65
            </div>
            <div class="ls__st1 regul20">
                @@subtitle66
            </div>
        </div>
        <div class="ls__st">
            <div class="ls__st1 regul20">
                @@subtitle67
            </div>
            <div class="ls__st1 regul20">
                @@subtitle68
            </div>
            <div class="ls__st1 regul20">
                @@subtitle69
            </div>
            <div class="ls__st1 regul20">
                @@subtitle70
            </div>
            <div class="ls__st1 regul20">
                @@subtitle71
            </div>
            <div class="ls__st1 regul20">
                @@subtitle72
            </div>
        </div>
    </div>

    <div class="vitya">
        <button class="atc">
        Add To Cart
        </button>
        <button class="atc">
        Add To Cart
        </button>
    </div>
</div> 